[submodule "src/crawler-i2w-msgs"]
	path = src/crawler-i2w-msgs
	url = https://github.com/octobotics/crawler-i2w-msgs.git
[submodule "src/i2w"]
	path = src/i2w
	url = https://github.com/octobotics/i2w.git
[submodule "src/TriDrishti-ControllerNode"]
	path = src/TriDrishti-ControllerNode
	url = https://github.com/octobotics/TriDrishti-ControllerNode.git
[submodule "myactuator-cpf-i2w"]
	path = myactuator-cpf-i2w
	url = https://github.com/octobotics/myactuator-cpf-i2w.git
[submodule "src/myactuator-cpf-i2w"]
	path = src/myactuator-cpf-i2w
	url = https://github.com/octobotics/myactuator-cpf-i2w.git
[submodule "test/TriDrishtiTestNode"]
	path = test/TriDrishtiTestNode
	url = https://github.com/octopriyanshu123/TriDrishtiTestNode.git
